In [1]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
data = pd.read_csv("Shopping_data01.csv")
data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,날짜,이익,누적노출
0,2019-01-01 06:00:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01 00:00:00,2099000.0,20
1,2019-01-01 06:00:00,20,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019-01-01 00:00:00,4371000.0,20
2,2019-01-01 06:20:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01 00:00:00,3262000.0,40
3,2019-01-01 06:20:00,20,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019-01-01 00:00:00,6955000.0,40
4,2019-01-01 06:40:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01 00:00:00,6672000.0,60

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38309 entries, 0 to 38308
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   방송일시    38309 non-null  object
 1   노출(분)   38309 non-null  int64
 2   마더코드    38309 non-null  int64
 3   상품코드    38309 non-null  int64
 4   상품명     38309 non-null  object
 5   상품군     38309 non-null  object
 6   판매단가    38309 non-null  int64
 7   취급액     37372 non-null  float64
 8   날짜      38309 non-null  object
 9   이익      37372 non-null  float64
 10  누적노출    38309 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 3.2+ MB

### - 취급액이 50000인 경우 살펴보기

In [11]:
data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,날짜,이익,누적노출
0,2019-01-01 06:00:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000.0,2019-01-01 00:00:00,2099000.0,20
1,2019-01-01 06:00:00,20,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000.0,2019-01-01 00:00:00,4371000.0,20
2,2019-01-01 06:20:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,2019-01-01 00:00:00,3262000.0,40
3,2019-01-01 06:20:00,20,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,2019-01-01 00:00:00,6955000.0,40
4,2019-01-01 06:40:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,2019-01-01 00:00:00,6672000.0,60
...,...,...,...,...,...,...,...,...,...,...,...
38304,2020-01-01 00:20:00,20,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,2020-01-01 00:00:00,NaN,20
38305,2020-01-01 00:40:00,20,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,2020-01-01 00:00:00,NaN,40
38306,2020-01-01 01:00:00,20,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,2020-01-01 00:00:00,NaN,60
38307,2020-01-01 01:20:00,20,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,2020-01-01 00:00:00,NaN,20
38308,2020-01-01 01:40:00,20,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,2020-01-01 00:00:00,NaN,40

In [10]:
data[data['이익']==50000].head(15)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,날짜,이익,누적노출
144,2019-01-02 22:00:00,20,100148,200432,무이자 LG 울트라HD TV 55UK6800HNC,가전,1440000,50000.0,2019-01-02 00:00:00,50000.0,20
147,2019-01-02 22:00:00,20,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000.0,2019-01-02 00:00:00,50000.0,20
148,2019-01-02 22:00:00,20,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000.0,2019-01-02 00:00:00,50000.0,20
153,2019-01-02 22:20:00,20,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000.0,2019-01-02 00:00:00,50000.0,40
154,2019-01-02 22:20:00,20,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000.0,2019-01-02 00:00:00,50000.0,40
159,2019-01-02 22:40:00,20,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000.0,2019-01-02 00:00:00,50000.0,60
235,2019-01-03 21:00:00,20,100148,200508,일시불 LG 울트라HD TV 65UK6800HNC,가전,1900000,50000.0,2019-01-03 00:00:00,50000.0,20
242,2019-01-03 21:20:00,20,100148,200441,무이자 LG 울트라HD TV 65UK6800HNC,가전,2130000,50000.0,2019-01-03 00:00:00,50000.0,40
244,2019-01-03 21:20:00,20,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000.0,2019-01-03 00:00:00,50000.0,40
250,2019-01-03 21:40:00,20,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000.0,2019-01-03 00:00:00,50000.0,60
293,2019-01-04 10:20:00,20,100837,202456,(도냄)무이자 쿠쿠전기밥솥 6인용,주방,208000,50000.0,2019-01-04 00:00:00,50000.0,40
396,2019-01-05 19:00:00,20,100448,202095,무이자 쿠첸 풀스텐 압력밥솥 6인용(A1),주방,158000,50000.0,2019-01-05 00:00:00,50000.0,20
415,2019-01-05 21:00:00,20,100148,200432,무이자 LG 울트라HD TV 55UK6800HNC,가전,1440000,50000.0,2019-01-05 00:00:00,50000.0,20
418,2019-01-05 21:00:00,20,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000.0,2019-01-05 00:00:00,50000.0,20
419,2019-01-05 21:00:00,20,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000.0,2019-01-05 00:00:00,50000.0,20