In [3]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [13]:
path = "../../Data/BigContest/Home Shopping/01_제공데이터/"

data1 = pd.read_excel(path+"2020 빅콘테스트 데이터분석분야-챔피언리그_2019년 실적데이터.xlsx", sheet_name='rawdata_2019(완)')
data1.columns = data1.iloc[0, :]
data1 = data1.drop(data1.index[0])

In [25]:
data2 = pd.read_excel(path+"2020 빅콘테스트 데이터분석분야-챔피언리그_시청률 데이터.xlsx", sheet_name='시간대')
data2.columns = data2.iloc[0, :]
data2 = data2.drop(data2.index[0])

In [17]:
data1.head(10)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
1,2019-01-01 06:00:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000
2,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000
3,2019-01-01 06:20:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000
4,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000
5,2019-01-01 06:40:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000
6,2019-01-01 06:40:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,9337000
7,2019-01-01 07:00:00,20,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000
8,2019-01-01 07:20:00,20,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,15689000
9,2019-01-01 07:40:00,20,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,25370000
10,2019-01-01 08:00:00,20,100808,202377,CERINI by PAT 남성 소프트 기모 릴렉스팬츠,의류,59900,16133000

In [21]:
data1.tail(20)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
38290,2019-12-31 22:20:00,20,100543,201624,넥센타이어 렌탈서비스,무형,0,NaN
38291,2019-12-31 22:40:00,20,100543,201624,넥센타이어 렌탈서비스,무형,0,NaN
38292,2019-12-31 23:00:00,20,100543,201624,넥센타이어 렌탈서비스,무형,0,NaN
38293,2019-12-31 23:20:00,20,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,4573000
38294,2019-12-31 23:20:00,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,9129000
38295,2019-12-31 23:20:00,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,620000
38296,2019-12-31 23:20:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,1664000
38297,2019-12-31 23:40:00,20,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,9149000
38298,2019-12-31 23:40:00,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,15282000
38299,2019-12-31 23:40:00,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,2328000
38300,2019-12-31 23:40:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000
38301,2020-01-01 00:00:00,20,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000
38302,2020-01-01 00:00:00,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000
38303,2020-01-01 00:00:00,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000
38304,2020-01-01 00:00:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000
38305,2020-01-01 00:20:00,20,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38306,2020-01-01 00:40:00,20,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38307,2020-01-01 01:00:00,20,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN
38308,2020-01-01 01:20:00,20,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN
38309,2020-01-01 01:40:00,17.1667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN

In [26]:
data2.head()

,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31,2019-01-01 to 2019-12-31
1,02:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.003
2,02:01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.012,0.003
3,02:02,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.004
4,02:03,0,0,0.014,0,0,0,0,0,0,...,0,0,0.017,0,0,0,0,0,0,0.004
5,02:04,0,0,0,0,0,0,0,0,0,...,0,0,0.017,0,0,0,0,0,0,0.004

위의 표를 보면 노출(분)이 없는데도 불구하고 취급액이 있다 (판매가 이루어졌다). 하지만 방송일시가 같고, 마더코드 또한 동일하다.
- 상품코드가 다른것 + 취급액이 서로 따로따로 올라감을 통해 다른 상품임을 예상
    - 만약 다른 상품이 맞다면 최대 몇 개의 상품을 동시에 판매했을까?
- 전부 합쳐서 생각해야할까?

## Check List
- 동일한 상품을 다른날에 판매하는 것이 있을까?
    - 만약 있다면 판매 코드는 같을까? -> value_counts를 통해 확인
- 마더 코드의 의미는?
    - 동일 시간 판매 상품?
    - 하루 평균 판매하는 서비스 또는 물건의 방송 수
- 몇 가지의 상품군이 있을까?
- 상품군을 더 자세하게 볼 필요가 있을까?
- 상품들의 전체 평균 방송 시간은?
- 방송시간의 길이는 취급액에 따라 달라질까?
- 판매 단가가와 상품군의 상관 관계
- 상품명에서 무이자와 일시불 차이가 클까? + (일), (무)
- 상품명에서 남성과 여성의 차이가 클까?
- 방송 시간대가 영향을 미칠까?
- 판매단가가 0인 경우 무조건 0일까?
- 취급액은 누적액일까?
    - 그럴 것으로 추정
- 취급액 / 판매단가 = 판매 수
- 판매수 누적? 20분당 판매 수?
- 취급액 -> 20분당 판매 액수 확인

#### - 동일한 상품을 다른날에 판매하는 것이 있을까?

In [46]:
data1['상품명'].value_counts().sort_values(ascending=False).head()

# 동일한 상품이 많이 있다!
# 1770개의 각기 다른 상품들이 존재

한일 대용량 스텐 분쇄믹서기                401
안동간고등어 20팩                     318
일시불 LG전자 매직스페이스 냉장고            308
무이자 LG전자 매직스페이스 냉장고            308
일시불 LG 울트라HD TV 65UK6800HNC    295
Name: 상품명, dtype: int64

In [45]:
data1['상품코드'].value_counts().sort_values(ascending=False).head()

# 상품 코드의 개수(2124개)가 상품명(1770개)보다 많음
#     - 같은 상품명에 다른 상품코드가 적용된 듯 하다
#     - 개수가 많은 것을 보니 기본적으로 코드를 중복해서 사용하는 듯

200864    318
200868    282
200533    273
200465    273
200014    252
Name: 상품코드, dtype: int64

In [49]:
data1[data1['상품명'] == '한일 대용량 스텐 분쇄믹서기']

# 상품코드가 2개가 존재: 200868, 200869
# 상품코드가 중복으로 많이 적용됨
# 하나씩만 광고하는데 중간에 상품코드(상품)가 바뀐듯 하다. (옆그레이드? ㅋㅋ)

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
198,2019-01-03 14:00:00,20,100255,200868,한일 대용량 스텐 분쇄믹서기,주방,109800,22816000
199,2019-01-03 14:20:00,20,100255,200868,한일 대용량 스텐 분쇄믹서기,주방,109800,47947000
200,2019-01-03 14:40:00,20,100255,200868,한일 대용량 스텐 분쇄믹서기,주방,109800,49139000
305,2019-01-04 13:00:00,20,100255,200868,한일 대용량 스텐 분쇄믹서기,주방,109800,17529000
306,2019-01-04 13:20:00,20,100255,200868,한일 대용량 스텐 분쇄믹서기,주방,109800,31775000
...,...,...,...,...,...,...,...,...
37999,2019-12-28 15:40:00,20,100255,200869,한일 대용량 스텐 분쇄믹서기,주방,109800,62649000
38000,2019-12-28 16:00:00,20,100255,200869,한일 대용량 스텐 분쇄믹서기,주방,109800,70741000
38171,2019-12-30 15:20:00,20,100255,200869,한일 대용량 스텐 분쇄믹서기,주방,109800,18054000
38172,2019-12-30 15:40:00,20,100255,200869,한일 대용량 스텐 분쇄믹서기,주방,109800,32923000
38173,2019-12-30 16:00:00,20,100255,200869,한일 대용량 스텐 분쇄믹서기,주방,109800,51842000

In [51]:
data1[data1['상품명'] == '한일 대용량 스텐 분쇄믹서기']['상품코드'].value_counts()

200868    282
200869    119
Name: 상품코드, dtype: int64

In [52]:
# 상품코드가 같은데 상품명이 다른 경우가 있을까?

data1[data1['상품코드']== 200868].count()

0
방송일시     282
노출(분)    282
마더코드     282
상품코드     282
상품명      282
상품군      282
판매단가     282
취급액      282
dtype: int64

In [54]:
data1[data1['상품코드']== 200869].count()

# 이 상품에서는 없다.

0
방송일시     119
노출(분)    119
마더코드     119
상품코드     119
상품명      119
상품군      119
판매단가     119
취급액      119
dtype: int64

#### 동일한 상품을 다른날에 판매한다!

### - 마더코드의 의미는?

동일 시간 판매 상품은 아니다. -> 동일 상품 또는 업그레이드 된(?) 상품일 경우 마더코드가 같다.

In [58]:
print("마더코드 개수: ", len(data1['마더코드'].unique()))
print("상품종류 개수:", len(data1['상품군'].unique()))

마더코드 개수:  716
상품종류 개수: 12

In [61]:
# 마더코드를 까보자

len(data1[data1['마더코드']== 100255])

401

In [64]:
data1[data1['마더코드']== 100448]


# 마더코드 = 해당 상품의 코드로 추정(같은 방송에서 여려개를 판매할 경우 해당방송의 상품들의 마더코드가 같다).
# 마더코드는 판매 업체? 또는 제작 회사라고 생각해도 될 듯 하다.

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
80,2019-01-02 10:00:00,20,100448,202098,일시불 쿠첸 풀스텐 압력밥솥 10인용 (A1),주방,158000,7239000
81,2019-01-02 10:00:00,NaN,100448,202093,무이자 쿠첸 풀스텐 압력밥솥 10인용(A1),주방,168000,8951000
82,2019-01-02 10:00:00,NaN,100448,202100,일시불 쿠첸 풀스텐 압력밥솥 6인용(A1),주방,148000,2118000
83,2019-01-02 10:00:00,NaN,100448,202095,무이자 쿠첸 풀스텐 압력밥솥 6인용(A1),주방,158000,2262000
84,2019-01-02 10:20:00,20,100448,202098,일시불 쿠첸 풀스텐 압력밥솥 10인용 (A1),주방,158000,27223000
...,...,...,...,...,...,...,...,...
38300,2019-12-31 23:40:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,10157000
38301,2020-01-01 00:00:00,20,100448,201383,무이자쿠첸압력밥솥 10인용,주방,178000,50929000
38302,2020-01-01 00:00:00,NaN,100448,201390,일시불쿠첸압력밥솥 10인용,주방,168000,104392000
38303,2020-01-01 00:00:00,NaN,100448,201384,무이자쿠첸압력밥솥 6인용,주방,158000,13765000
38304,2020-01-01 00:00:00,NaN,100448,201391,일시불쿠첸압력밥솥 6인용,주방,148000,46608000

In [81]:
# 동일 방송일시에 마도코드가 다른 경우도 있을까?

data1.iloc[36590:36600]

# 있다.
# 브랜드와 판매 상품의 종류가 다르다.

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
36591,2019-12-14 10:20:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,7507000
36592,2019-12-14 10:20:00,NaN,100036,200069,구찌 인터로킹 GG 탑핸들 체인 숄더 라지,잡화,2730000,31326000
36593,2019-12-14 10:20:00,NaN,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,50000
36594,2019-12-14 10:20:00,NaN,100036,200065,구찌 마이크로 씨마 GG플랩 2단 장지갑,잡화,690000,3998000
36595,2019-12-14 10:20:00,NaN,100039,200073,버버리 홀스페리 페이톤 크로스백,잡화,880000,1571000
36596,2019-12-14 10:20:00,NaN,100039,200071,버버리 밀덴홀 체인 크로스백 미듐,잡화,1480000,2610000
36597,2019-12-14 10:20:00,NaN,100038,200062,구찌 더블G 오버 선글라스,잡화,458000,10519000
36598,2019-12-14 10:50:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,20315000
36599,2019-12-14 10:50:00,NaN,100036,200069,구찌 인터로킹 GG 탑핸들 체인 숄더 라지,잡화,2730000,46417000
36600,2019-12-14 10:50:00,NaN,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,29134000

In [67]:
data1[data1['마더코드']==100575]

### 취급액이 판매단가보다 낮은 경우가 있다.?????????????

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
1545,2019-01-17 21:00:00,20,100575,201737,일시불 삼성 UHD TV UN55NU7010FXKR,가전,1000000,4879000
1546,2019-01-17 21:00:00,NaN,100575,201684,무이자 삼성 UHD TV UN55NU7010FXKR,가전,1080000,7928000
1547,2019-01-17 21:00:00,NaN,100575,201741,일시불 삼성 UHD TV UN65NU7010FXKR,가전,1700000,4196000
1548,2019-01-17 21:00:00,NaN,100575,201687,무이자 삼성 UHD TV UN65NU7010FXKR,가전,1800000,8806000
1549,2019-01-17 21:00:00,NaN,100575,201745,일시불 삼성 UHD TV UN75NU7010FXKR,가전,2700000,50000
...,...,...,...,...,...,...,...,...
36261,2019-12-10 23:00:00,NaN,100575,201781,초특가 일시불 삼성 UHD TVUN75RU7150FXKR,가전,2500000,50000
36262,2019-12-10 23:00:00,NaN,100575,201776,초특가 무이자 삼성 UHD TV UN65RU7150FXKR,가전,1620000,26326000
36263,2019-12-10 23:00:00,NaN,100575,201779,초특가 일시불 삼성 UHD TV UN65RU7150FXKR,가전,1530000,4203000
36264,2019-12-10 23:00:00,NaN,100575,201777,초특가 무이자 삼성 UHD TVUN55RU7150FXKR,가전,1110000,6022000
36265,2019-12-10 23:00:00,NaN,100575,201780,초특가 일시불 삼성 UHD TVUN55RU7150FXKR,가전,1050000,11339000

#### 판매단가가 취급액보다 높은경우

In [87]:
data1[data1['취급액'] < data1['판매단가']].head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
145,2019-01-02 22:00:00,NaN,100148,200432,무이자 LG 울트라HD TV 55UK6800HNC,가전,1440000,50000
148,2019-01-02 22:00:00,NaN,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000
149,2019-01-02 22:00:00,NaN,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000
154,2019-01-02 22:20:00,NaN,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000
155,2019-01-02 22:20:00,NaN,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000

In [89]:
# 취급액은 전부 50000일까?

data1[data1['취급액'] < data1['판매단가']]['취급액'].unique()
# 그러하다

array([50000], dtype=object)

In [105]:
data1[data1['취급액'] < data1['판매단가']]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
145,2019-01-02 22:00:00,NaN,100148,200432,무이자 LG 울트라HD TV 55UK6800HNC,가전,1440000,50000
148,2019-01-02 22:00:00,NaN,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000
149,2019-01-02 22:00:00,NaN,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000
154,2019-01-02 22:20:00,NaN,100148,200518,일시불 LG 울트라HD TV 70UK7400KNA,가전,2700000,50000
155,2019-01-02 22:20:00,NaN,100148,200451,무이자 LG 울트라HD TV 70UK7400KNA,가전,2990000,50000
...,...,...,...,...,...,...,...,...
37710,2019-12-25 10:20:00,NaN,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,50000
37968,2019-12-28 10:20:00,NaN,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,50000
37970,2019-12-28 10:20:00,NaN,100039,200073,버버리 홀스페리 페이톤 크로스백,잡화,880000,50000
38026,2019-12-28 21:20:00,NaN,100372,201169,(싱글+싱글)일월 품안애 온수매트,생활용품,198000,50000
38124,2019-12-29 23:20:00,NaN,100182,200612,무이자 선일금고 이볼브 시리즈 EV-020,생활용품,440000,50000

### - 몇 가지의 상품군이 있을까?

In [66]:
data1['상품군'].unique()

array(['의류', '속옷', '주방', '농수축', '이미용', '가전', '생활용품', '건강기능', '잡화', '무형',
       '가구', '침구'], dtype=object)

#### 12가지의 상품군이 존재

### - 20분당 매출액 feature 만들기

In [120]:
import datetime

In [116]:
times = data1['방송일시'].unique()

In [107]:
times = data1['방송일시']
data1['판매액'] = 0

for time in times:
    data1.loc[(data['방송일시'] == time) & (data['상품코드'])]

In [121]:
data1[data1['방송일시'] ==  datetime.datetime(2019, 12, 14, 10, 20) ]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
36591,2019-12-14 10:20:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,7507000
36592,2019-12-14 10:20:00,NaN,100036,200069,구찌 인터로킹 GG 탑핸들 체인 숄더 라지,잡화,2730000,31326000
36593,2019-12-14 10:20:00,NaN,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,50000
36594,2019-12-14 10:20:00,NaN,100036,200065,구찌 마이크로 씨마 GG플랩 2단 장지갑,잡화,690000,3998000
36595,2019-12-14 10:20:00,NaN,100039,200073,버버리 홀스페리 페이톤 크로스백,잡화,880000,1571000
36596,2019-12-14 10:20:00,NaN,100039,200071,버버리 밀덴홀 체인 크로스백 미듐,잡화,1480000,2610000
36597,2019-12-14 10:20:00,NaN,100038,200062,구찌 더블G 오버 선글라스,잡화,458000,10519000

In [147]:
data1[data1['방송일시'] ==  datetime.datetime(2019, 12, 14, 10, 50) ]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
36598,2019-12-14 10:50:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,20315000
36599,2019-12-14 10:50:00,NaN,100036,200069,구찌 인터로킹 GG 탑핸들 체인 숄더 라지,잡화,2730000,46417000
36600,2019-12-14 10:50:00,NaN,100036,200070,구찌 인터로킹 GG 탑핸들 체인 숄더 스몰,잡화,2590000,29134000
36601,2019-12-14 10:50:00,NaN,100036,200065,구찌 마이크로 씨마 GG플랩 2단 장지갑,잡화,690000,17357000
36602,2019-12-14 10:50:00,NaN,100039,200073,버버리 홀스페리 페이톤 크로스백,잡화,880000,4620000
36603,2019-12-14 10:50:00,NaN,100039,200071,버버리 밀덴홀 체인 크로스백 미듐,잡화,1480000,12852000
36604,2019-12-14 10:50:00,NaN,100038,200062,구찌 더블G 오버 선글라스,잡화,458000,15082000

In [158]:
data1[data1['방송일시'] ==  datetime.datetime(2019, 12, 14, 10, 50)]['취급액'].reset_index(drop=True) - data1[data1['방송일시'] ==  datetime.datetime(2019, 12, 14, 10, 20)].reset_index(drop=True)['취급액']

0    12808000
1    15091000
2    29084000
3    13359000
4     3049000
5    10242000
6     4563000
Name: 취급액, dtype: object

In [164]:
for i i

SyntaxError: invalid syntax (<ipython-input-164-22687fb1c238>, line 1)

In [163]:
data1[data1['상품코드'] ==  200068]

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액
36591,2019-12-14 10:20:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,7507000
36598,2019-12-14 10:50:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,20315000
36935,2019-12-17 14:20:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,5409000
36942,2019-12-17 14:50:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,24802000
37334,2019-12-21 13:20:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,5322000
37341,2019-12-21 13:50:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,30077000
37660,2019-12-24 20:20:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,8743000
37667,2019-12-24 20:50:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,41516000
37708,2019-12-25 10:20:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,3234000
37715,2019-12-25 10:50:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,20370000
37966,2019-12-28 10:20:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,4313000
37973,2019-12-28 10:50:00,30.1,100036,200068,구찌 씨마 베이직 양면 울 머플러,잡화,380000,16347000

In [165]:
data = data1.copy()

In [186]:
data['이익'] = 0
codes = data['상품코드'].unique()

for code in codes:
    df = data[data['상품코드'] == code]
    nums = len(df)
    for i in range(1, nums):
        if df.iloc[i]['이익'] > df.iloc[i-1]['이익']:
            data[data['상품코드'] == code].iloc[i]['이익'] =  df.iloc[i]['이익'] -  df.iloc[i-1]['이익']

In [227]:
data['이익'] = 0
df = data[data['상품코드'] == 201072]
nums = len(df)

for i in range(1, nums):
        if df.iloc[i]['취급액'] > df.iloc[i-1]['취급액']:
            profit = df.iloc[i]['취급액'] -  df.iloc[i-1]['취급액']
            print(profit)

1163000
3410000
657000
3152000

In [187]:
data

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,이익
1,2019-01-01 06:00:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,2099000,2099000
2,2019-01-01 06:00:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,4371000,4371000
3,2019-01-01 06:20:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000,3262000
4,2019-01-01 06:20:00,NaN,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000,6955000
5,2019-01-01 06:40:00,20,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000,6672000
...,...,...,...,...,...,...,...,...,...
38305,2020-01-01 00:20:00,20,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN
38306,2020-01-01 00:40:00,20,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN
38307,2020-01-01 01:00:00,20,100073,200196,삼성화재 행복한파트너 주택화재보험(1912),무형,0,NaN,NaN
38308,2020-01-01 01:20:00,20,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,NaN
38309,2020-01-01 01:40:00,17.1667,100490,201478,더케이 예다함 상조서비스(티포트),무형,0,NaN,NaN

In [176]:
data['이익'] = data['취급액']
codes = data['상품코드'].unique()

df = data[data['상품코드'] == 200068]['']